.show-list(ng-controller='ShowListController as showList' ng-init="showList.getInfo(#{@list.to_json}, #{@list.nodes.to_json}, #{@list.arcs.to_json})")
  .list
    %h2 Edit List

    %form(editable-form name='listForm' onaftersave='showList.saveList($data)')
      %span Name
      %span(editable-text='showList.list.name' e-name='name') {{showList.list.name}}
      %br
      %span Description
      %span(editable-text='showList.list.description' e-name='description') {{showList.list.description}} 
      .buttons
        %button.btn.btn-info(type='button' ng-click="listForm.$show()" ng-show='!listForm.$visible' disabled) Edit
        .span(ng-show="listForm.$visible")
          %button.btn.btn-success(type='submit' ng-disabled='listForm.$waiting') Save
          %button.btn.btn-success(type='button' ng-click="listForm.$cancel()" ng-disabled='listForm.$waiting') Cancel
  .nodes
    %h2 Edit Nodes
    %table.table.table-bordered.table-hover.table-condensed
      %thead
        %th Id
        %th Info
        %th Edit
      %tbody
        %tr(ng-repeat='node in showList.nodes')
          %td
            %span(editable-text="node.id" e-name="id" e-form="nodeform" e-disabled ng-show="!nodeform.$visible") {{node.id}}
          %td
            %span(editable-text="node.info" e-name="info" e-form="nodeform" e-required ng-show="!nodeform.$visible") {{node.info}}
          %td{:style => "white-space: nowrap"}
            %form.form-buttons.form-inline(editable-form name="nodeform" ng-show="nodeform.$visible" onbeforesave="showList.saveNode($data, $index)" shown="node.id == undefined")
              %button.btn.btn-primary(ng-disabled="nodeform.$waiting" type="submit") Save
              %button.btn.btn-default(ng-click="nodeform.$cancel()" ng-disabled="nodeform.$waiting" type="button") Cancel
            .buttons{"ng-show" => "!nodeform.$visible"}
              %button.btn.btn-primary(ng-click="nodeform.$show()") Edit
              %button.btn.btn-danger(ng-click="removeNode($index)") Delete
    %button.btn.btn-info(type='button' ng-click='showList.addNode()') Add Node
  .arcs
    %h2 Edit Arcs
    %table.table.table-bordered.table-hover.table-condensed
      %thead
        %th Id
        %th Weight
        %th Heuristic value
        %th Node Parent Id
        %th Node Child Id
        %th Edit
      %tbody
        %tr(ng-repeat='arc in showList.arcs')
          %td
            %span(editable-text="arc.id" e-name="id" e-form="arcform" e-disabled ng-show="!arcform.$visible") {{arc.id}}
          %td
            %span(editable-text="arc.weight" e-name="weight" e-form="arcform" ng-show="!arcform.$visible") {{arc.weight}}
          %td
            %span(editable-text="arc.heuristic_value" e-name="heuristic_value" e-form="arcform" ng-show="!arcform.$visible") {{arc.heuristic_value}}
          %td
            %span(editable-text="arc.from_id" e-name="from_id" e-form="arcform" e-required ng-show="!arcform.$visible") {{arc.from_id}}
          %td
            %span(editable-text="arc.to_id" e-name="to_id" e-form="arcform" e-required ng-show="!arcform.$visible") {{arc.to_id}}
          %td(style="white-space: nowrap")
            %form.form-buttons.form-inline(editable-form name="arcform" ng-show="arcform.$visible" onbeforesave="showList.saveArc($data, $index)" shown="arc.id == undefined")
              %button.btn.btn-primary(ng-disabled="arcform.$waiting" type="submit") Save
              %button.btn.btn-default(ng-click="arcform.$cancel()" ng-disabled="arcform.$waiting" type="button") Cancel
            .buttons{"ng-show" => "!arcform.$visible"}
              %button.btn.btn-primary(ng-click="arcform.$show()") Edit
              %button.btn.btn-danger(ng-click="removeUser($index)") Delete
    %button.btn.btn-info(type='button' ng-click='showList.addArc()') Add Arc
