.show-list(ng-controller='ShowListController as showList' ng-init="showList.getList(#{@list.to_json})")
  %h2 New List

  %form(editable-form name='listForm' onaftersave='showList.saveList($data)')
    %span Name
    %span(editable-text='showList.list.name' e-name='name') {{showList.list.name}}
    %span Name
    %span(editable-text='showList.list.description' e-name='description') {{showList.list.description}} 
    .buttons
      %button.btn.btn-success(type='button' ng-click="listForm.$show()" ng-show='!listForm.$visible') Edit
      .span(ng-show="listForm.$visible")
        %button.btn.btn-success(type='submit' ng-disabled='listForm.$waiting') Save
        %button.btn.btn-success(type='button' ng-click="listForm.$cancel()" ng-disabled='listForm.$waiting') Cancel
